.km-row {
	@include center;
	max-width: $row-width;
	width: 100%;
	float:none!important;
}

.km-row-narrow {
	@extend .km-row;
	max-width: $row-width-narrow;
}

.km-row-wide {
	@extend .km-row;
	max-width: $row-width-wide;
}

.km-row-full {
	@extend .km-row;
	max-width: 100%!important;
}

.km-row,
.km-row-wide,
.km-row-full {
	.row-fluid{
		@extend .km-row;
	}
}


.km-width-full{
	width:$width-full;
	max-width:$width-full;
}




.align-center {
	float: none!important;
	display:block!important;
	margin-left: auto!important;
	margin-right: auto!important;
}

.km-bg-pos-top{
	background-position: top!important;
}

.km-bg-pos-center{
	background-position: center!important;
}

.km-bg-pos-bottom{
	background-position: bottom!important;
}