/* 
 *----------------------------------------------------------------------------------------------------------------------------
 * UTILITY
 *----------------------------------------------------------------------------------------------------------------------------
 */


 /* 
 *----------------------------------------------------------
 * Mixins
 *----------------------------------------------------------
 */
@mixin raised(){
	@include box-shadow( 0 1px 1px rgba(0,0,0, .5), inset 0 -1px 1px rgba(0,0,0, 0.2) );
}

@mixin highlighted-item() {
	// color: color(off-white);

	@media #{$medium-up} {
		border-bottom: 4px white solid;
		@include transition(border .3s ease-in-out);
	}
}


 /* 
 *----------------------------------------------------------
 * Functions
 *----------------------------------------------------------
 */
@function col($cols){
	@return 100%/$cols;
}

