/* 
 *----------------------------------------------------------------------------------------------------------------------------
 * FOOTER
 *----------------------------------------------------------------------------------------------------------------------------
 */
 .km-footer {
 	background-color: $footer-color; 
 	color: lighten($tertiary-color, 15);
 	padding: $global-spacing*1.5 16px 0;

 	& > .row-fluid-wrapper {

 		.widget-span{

			.widget-span {
				margin-bottom: $global-spacing;
			}	
		}
 	}
	


 	blockquote{
 		color: darken($tertiary-color, 35);
 		cite{
 			color: darken($tertiary-color, 15);
 		}
 	}

 	.km-service-area {
 		color: darken($tertiary-color, 35);
 		border: solid 1px darken($tertiary-color, 8);
 		border-right: none;
 		border-left: none;
 		padding: .8em;
 		text-align: center;
 	}
	
	.km-legal{
		text-align: center;
	}
	
	
	.km-button,
	.hs-button,
	.button,
	button{ 
		margin: 0;
	}

 }

