/* 
 *----------------------------------------------------------------------------------------------------------------------------
 * BUTTON
 *----------------------------------------------------------------------------------------------------------------------------
 */


button,
.button,
input[type="button"],
input[type="submit"] {
	@include border-radius($button-radius);
}

.km-button{
	@extend button;
}

.hs-button{
	@extend button;
}

.widget-type-google-search{
	.hs-button{

	}
}


@each $name, $value in $colors {
	.km-btn-#{$name},
	.km-child-btn-#{$name} button,
	.km-child-btn-#{$name} .button,
	.km-child-btn-#{$name} .km-button:hover,
	.km-child-btn-#{$name} input[type='button'],
	.km-child-btn-#{$name} input[type='submit'] {
		background-color: $value;
		border-color: darken($value, 7);
	}

	.km-btn-#{$name}:hover,
	.km-child-btn-#{$name} button:hover,
	.km-child-btn-#{$name} .button:hover,
	.km-child-btn-#{$name} .km-button:hover,
	.km-child-btn-#{$name} input[type='button']:hover,
	.km-child-btn-#{$name} input[type='submit']:hover {
		background-color: darken($value, 7);
		border-color: darken($value, 14);
	}
}
