button,
.button,
.km-button,
input[type="button"],
input[type="submit"] {
	@include border-radius($button-radius);
}

.hs-button{
	@extend button;
}

.widget-type-google-search{

	.hs-button{

	}
}



@each $name, $value in $colors {
	.km-child-btn-#{$name} button,
	.km-child-btn-#{$name} .button,
	.km-child-btn-#{$name} .km-button:hover,
	.km-child-btn-#{$name} input[type='button'],
	.km-child-btn-#{$name} input[type='submit'] {
		background-color: $value;
		border-color: darken($value, 10);
	}

	.km-child-btn-#{$name} button:hover,
	.km-child-btn-#{$name} .button:hover,
	.km-child-btn-#{$name} .km-button:hover,
	.km-child-btn-#{$name} input[type='button']:hover,
	.km-child-btn-#{$name} input[type='submit']:hover {
		background-color: darken($value, 5);
		border-color: darken($value, 15);
	}
}