/* 
 *----------------------------------------------------------------------------------------------------------------------------
 * MODULE > ICON
 *----------------------------------------------------------------------------------------------------------------------------
 */

.km-icon{
	margin: 0 .2em;
	
	@extend .fa!optional;
}

.km-icon-menu{
	@extend .fa-bars!optional;
}

.km-icon-search{
	@extend .fa-search!optional;
}

.km-icon-user{
	@extend .fa-user!optional;
}