.km-nav-primary {
	position: relative;
	background-color:$secondary-color;
	text-align:center;

	.row, .columns {
		position: initial;
	}

	// For nav elements of all levels
	ul {
		list-style-type: none;

		li {
			display: inline-block;
			
			
			a,
			a:hover,
			a:visited,
			a:link,
			a:active {
				color: white;
				text-decoration: none;
				height: 100%;
				display: inline-block;
			}
		}
	}

	@mixin highlighted-item() {
		// color: color(off-white);

		@media #{$medium-up} {
			border-bottom: 4px white solid;
		}
	}

	// For just first-level navigation
	.hs-menu-wrapper > ul {
		@extend .km-row;

		& > li {
			vertical-align: top;
			line-height: 60px;
			height: 60px;
			margin: 0 7.4%;

			& > a:hover, .sub-menu:hover + a {
				@include highlighted-item();
			}

			& > a:hover + .sub-menu, 
			.sub-menu:hover {
				visibility: visible;
				transition-delay: 0s;
				max-height: 300px;
				padding-bottom: 0.5em;
			}
		}

		& > li:first-child {
			margin-left: 0;
		}

		& > li:last-child {
			margin-right: 0;
		}

		& > li.current-menu-item > a {
			@include highlighted-item();
		}

		
	}

	// For sub menus
	ul.hs-menu-children-wrapper {
		padding: 0 calc(50% - 555px);
		width: 100%;

		background-color: #5989DB;

		overflow: hidden;
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		top: 100%;
		transition: max-height 0.5s ease-in-out, padding 0.3s ease-in-out, visibility 0s linear 0.5s;
		z-index: 2;
		font-size: 0;
		text-align: left;

		max-height: 0;
		display: block;
		visibility: hidden;

		li {
			transition: background-color 0.3s ease-in-out;
			display: inline-block;
			width: 25%;
			margin: 0;
			font-size: 100%;

			text-align: left;

			a::before {
				color: #8FB1EA;
				padding-right: 0.5em;
				vertical-align: center;
				display: inline-block;
				font-family: "FontAwesome";
				content: "\f138";
				width: 18px;
				height: 18px;
				font-size: 18px;
			}

			&:hover {
				a {
					color: #323232;
				}
			}

			a {
				transition: color 0.4s ease-in-out;
				width: 100%;
				padding: 8px 4px 8px 8px;
			}
		}

		li:last-child {
			border-bottom: none;
		}
	}
}