/* 
 *----------------------------------------------------------------------------------------------------------------------------
 * NAVIGATION
 *----------------------------------------------------------------------------------------------------------------------------
 */

.km-nav-primary {
	position: relative;
	background-color: $secondary-color;
	text-align: center;
	font-size: 16px;
	@include raised;

	.row, .columns {
		position: initial;
	}

	// For nav elements of all levels
	ul {
		list-style-type: none;

		li {
			display: inline-block;
			
			
			a,
			a:hover,
			a:visited,
			a:link,
			a:active {
				color: white;
				text-decoration: none;
				height: 100%;
				display: inline-block;
				width: 100%;
				max-width: 100%;
			}
		}
	}


	// For just first-level navigation
	.hs-menu-wrapper > ul {
		overflow: hidden;
		padding: 0 calc( 50% - 555px);
		margin: 0;
		z-index: 5;

		& > li {
			vertical-align: top;
			line-height: 60px;
			height: 60px;
			margin: 0;
			width: col(5);
			float: left;

			& > a:hover, 
			& > .hs-menu-children-wrapper:hover + a {
				@include highlighted-item();
			}

			& > a:hover + .hs-menu-children-wrapper, 
			.hs-menu-children-wrapper:hover {
				visibility: visible;
				transition-delay: 0s;
				max-height: 300px;
			}
		}

		& > li.hs-item-has-children > a:after {
			content: '\f107';
			font-family: 'FontAwesome';
			padding-left: 10px;
		}
		
		& > li:first-child {
			margin-left: 0;
		}

		& > li:last-child {
			margin-right: 0;
		}

		& > li.current-menu-item > a {
			@include highlighted-item();
		}

		
	}

	// Child Menus
	ul.hs-menu-children-wrapper {
		@include transition(max-height 0.5s ease-in-out, padding 0.3s ease-in-out, visibility 0.5s linear 0s );
		background-color: $info-color;
		display: block;
		left: 0;
		margin: 0;
		max-height: 0;
		overflow: hidden;
		padding: 0 calc( 50% - 555px);/*ssss*/
		position: absolute;
		right: 0;
		top: 100%;
		visibility: hidden;
		width: 100%;
		z-index: 2;

		li {
			@include transition( background-color 0.3s ease-in-out);
			display: inline-block;
			margin: 0;
			width: 20%;
			float: left;
			text-align: center;
			
			&:hover {
				a {
					@include transition( background-color 0.3s ease-in-out);
					background-color: lighten( $info-color, 5 );
				}
			}

			a {
				width: 100%;
				padding: .75em;
			}
			
		}

		li:last-child {
			border-bottom: none;
		}
	}
}